<!-- <h2>using hidden attribute</h2>
<h2 [hidden]="displaymessage">structural directivs</h2><br><br>
<h2 *ngIf="displaymessage">structural directive</h2> -->
<!-- <label for="idi">age</label>
<input type="text" name="isd" id="idi" [(ngModel)]="age">{{age}};
<h2 style="color:brown" *ngIf="age>18;then thenBlock; else elseBlock">it is eligible for voting</h2>
<ng-template #thenBlock>
    <h2 style="color:aqua">it is eligible for voting</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur autem quae vero suscipit facere nemo veritatis adipisci aspernatur aut obcaecati. Expedita distinctio natus quisquam in laudantium sunt dolores, rerum obcaecati sapiente, iusto quas dicta.</p>
</ng-template>
<ng-template #elseBlock>
    <h2 style="color:blueviolet">it is not eligible voting</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta aliquam itaque praesentium quam voluptate libero aliquid consequatur amet magni, illum maxime delectus?</p>
</ng-template>
<h2>structural directive *ngFor=></h2> -->
<!-- <h2>examples on *ngFor</h2><ul>


<li *ngFor="let item of list; let i=index ">{{i+1}}&nbsp;{{item}}</li>
</ul>
<h1>without ng switch example</h1>
<h4 *ngIf="todaysDay=='sunday'">today is sunday'</h4>
<h4 *ngIf="todaysDay=='monday'">today is monday'</h4>
<h4 *ngIf="todaysDay=='tuesday'">today is tuesday'</h4>
<h4 *ngIf="todaysDay=='wednesday'">today is wednesday'</h4>
<h4 *ngIf="todaysDay=='thursday'">today is thursday'</h4>
<h4 *ngIf="todaysDay=='friday'">today is friday'</h4>
<h4 *ngIf="todaysDay=='saturday'">today is saturday'</h4>
<h1>using ngswitch example</h1>
<div [ngSwitch]="todaysDay">
    <h4 *ngSwitchCase="'sunday'">today is sunday</h4>
    <h4 *ngSwitchCase="'monday'">today is monday</h4>
    <h4 *ngSwitchCase="'tuesday'">today is tuesday</h4>
    <h4 *ngSwitchCase="'wednesday'">today is wednesday</h4>
    <h4 *ngSwitchCase="'thursday'">today is thursday</h4>
    <h4 *ngSwitchCase="'friday'">today is friday</h4>
    <h4 *ngSwitchCase="'saturday'">today is saturday</h4>
    <h4 *ngSwitchDefault>no match found</h4>
</div> -->
<!-- <h1>*ngIf example</h1>
<label for="id1">Age</label>
<input tpe="text" name="emplage" id="id1" [(ngModel)]="age">
<h1 style="color:aquamarine" *ngIf="age>18">it is eligible for voting</h1><br><br> -->

<!-- <h1>* ngIF EXAMPLE WITH if else example using ng-template</h1>
<label for="id1">Age</label>
<input type="text" name="emplname" id="id1" [(ngModel)]="age">
<h1 style="color:aquamarine" *ngIf="age>18; else elseBlock ">it is eligible for voting</h1>
<ng-template #elseBlock>
    <h1 style="color:blue">it is not eligible for voting</h1>
</ng-template> -->
<!-- <h1>*ng if-else then example done by ng-template</h1>
<label for="id1">age</label>
<input type="text" name="emplage" id="id1" [(ngModel)]="age">
<h1 style="color:aquamarine" *ngIf="age>18; then thenBlock;else elseBlock">element</h1>
<ng-template #thenBlock>
    <h1 style="color:bisque" >it is eligible for voting</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui et tempore nobis sunt praesentium aliquid recusandae reprehenderit vitae debitis. Architecto est voluptatibus voluptate ad quaerat vero soluta repellendus eius dolorem quibusdam, ratione illo itaque!</p>

</ng-template>
<ng-template #elseBlock>
    <h1 style="color:aqua">it is not eligible for voting</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae iusto officiis dolorum voluptas, consectetur hic aliquid facilis ipsa incidunt reprehenderit, perferendis quasi nesciunt itaque, mollitia vero eveniet eaque? Ut optio sequi deserunt veritatis blanditiis!</p>
</ng-template> -->
<!-- <h1>example of *ngFor</h1>
<ul>
    <li style="color:chartreuse" *ngFor="let item of list;let i=index">{{i+1}} &nbsp;{{item}}</li>
</ul>
<ul>
    <li style="color:bisque" *ngFor="let item of listoftechnology; let i=index">{{i+1}} &nbsp;{{item}}</li>
</ul> -->
<p appDynamicStyle></p>
