<h2 >examples of inbuilt/predefined pipe</h2>
<h1>{{ message | uppercase}}</h1>
<h1>{{ message | lowercase}}</h1>
<h1>{{ details|titlecase}}</h1>
<h1>today date is:=>{{ todaysdate|date:'shortDate'}}</h1>
<h1>today date is:=>{{ todaysdate|date:'mediumDate'}}</h1>
<h1>today date is:=>{{ todaysdate|date:'longDate'}}</h1>
<h1>today date is:=>{{ todaysdate|date:'dd/mm/yy'}}</h1>
<h1>salary is:=>{{salary | currency}}</h1>
<h1>salary is:=>{{salary | currency:"INR"}}</h1>
<h1>Average is:=>{{average|number:'.1-2'}}</h1>
<h1>Average is:=>{{average|number:'4.3-4'}}</h1>
