<h1>one way data binding through interpolation</h1>
<p>{{firstName}}</p>

<h1>{{informationObj.rating}}</h1>
<h1>{{informationObj.productName}}</h1>
<h1>{{informationObj.price}}</h1>
<h1>{{informationObj.productId}}</h1>
<h1>another examole of employee</h1>
<h1>1:{{obj.firstname}}</h1>
<h1>2:{{obj.lastname}}</h1>
<h1>3:{{obj.address.state}}</h1>

<h1>One way data binding through property binding</h1>
<img [src]="applicationInfo.logo">
<h1>interpolation property example</h1>
<button disabled="{{isDisabled}}">clic kme</button>
 
<h2>property binding example</h2>
<button [disabled]="isDisabled">click me</button>

