<!-- <p>first-component works!</p>
<h1>my first componenet</h1>
{{message}}
<p>the interpolation property:{{message}}</p>
<h1>the first name is :=> {{FirstName}}</h1>
<h1>the last name is => {{LastName}}</h1>
<h1>the age is => {{age}}</h1>
<h1>the address is => {{address}}</h1>
<h1>property bindingexample</h1>
<!-- <button[disabled]="isDisable">clickme</button> -->
<!-- <h1>the message is {{message|uppercase}}</h1>
<h1> {{message|lowercase}}</h1>
<h1>{{message|titlecase}}</h1>
<p>{{todaysdate|date:'shortdate'}}</p>
<p>{{todaysdate|date:'mediumdate'}}</p>
<h1>value is in currency{{value|currency}}</h1><br><br>
<button (click)="getmessage()">clickme</button><br><br>
<button  (click)="setmessage()">clickme</button><br><br>
<label for="id1">firstName</label>
<input type="text" name="value" id="id1" (focus)="setting()"><br><br>
 --> -->
